# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
./c_solution/input.txt
./c_solution/output.txt
./c_solution/cmake-build-debug
build/
public/bundle.js
public/bundle.js.map
