# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/

# Папка с собранными файлами проекта
/**/cmake-build-debug/
/**/output.txt
/**/input.txt
build/
public/bundle.js
public/bundle.js.map
